header.masthead h1 { font-size: 3rem; }
@media (min-width: 992px) {
  header.masthead h1 { font-size: 4rem; }
}
@media (min-width: 1200px) {
  header.masthead h1 { font-size: 5rem; }
}

.masthead .btn {
  width: 200px;
}

.bg-superlight {
  background-color: #F0F5F8!important;
}

.bg-light {
  background-color: #d8dee2!important;
}

.text-info {
  color: #447fa3!important;
}

.text-white-info {
  color: #7ea8be!important;
}

.hrdina {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.first {
  width: 100%;
}

.second {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dino-container {
  position: relative;
  display: inline-block;
}

.dino-image {
  height: 7em;
  position: absolute;
  right: -8em;
  top: -6em;
}

.portfolio-box-custom {
  max-width: 100%;
}

.portfolio-custom {
  object-fit: cover;
  height: 24rem;
  width: 100%;
}
