*       text=auto
*.md    text
*.html  text
*.yml   text
*.txt   text
*.js    text
*.rb    text
*.sh    text eol=lf
*.css   text
*.scss  text
*.map   text
*.json  text
*.svg   text
*.pdf   -text
*.jpg   -text
*.png   -text
*.gif   -text
*.pdf   -text
*.eot   -text
*.ttf   -text
*.woff  -text
*.woff2 -text
